.flex
{
    display: flex;
    background-color: rgb(22, 138, 233);
}

.flex div
{
    flex-wrap: nowrap;
    width: 50%;
}

.flex div, .grid div
{
    background-color: white;
    margin: 10px;
    line-height: 50px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
}

.grid
{
    display: grid;
    background-color: rgb(22, 138, 233);
    width: 100%;
    grid-template-columns: 50% 50%;
}

@media screen and (max-width: 800px)
{
    .grid
    {
        grid-template-columns: 100%;
    }
    .flex
    {
        flex-wrap: wrap;
    }
    .flex div
    {
        width: 100%;
    }
}

@media only screen and (orientation: portrait)
{
    body 
    {
        background-color: rgb(22, 138, 233);
    }
}
